@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --vermelho: hsl(0, 78%, 62%);
    --turquesa: hsl(180, 62%, 55%);
    --laranja: hsl(34, 97%, 64%);
    --azul: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
--GrayishBlue:hsl(229, 6%, 66%);
--VeryLightGray: hsl(0, 0%, 98%);
}
p, .subtitulo {
    color: var(--GrayishBlue);
    font-weight: lighter;
    font-size: 0.8rem;
}
h2{
    color: var(--GrayishBlue);
    font-weight: lighter;
}
h1 {
  
    font-weight: 600;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--VeryLightGray);
}
#texto{
    margin-top: 5%;
    margin-bottom: 2%;
}
#total{

    margin: auto;
    width: 90%;
   display: flex;
    flex-direction: column;
   
  }
.titulo, .subtitulo{
    padding: 5%;
    text-align: center;
}
.titulo_carta0{
    font-weight:bolder;
}

img{
    padding-left: 70%;
}
.card{
    background-color: white;
    margin-top: 1em;
    padding: 12%;
    border-radius: 5px;
    box-shadow:5px 5px 5px 5px var(--GrayishBlue);

}
.card1{
    border-top:3px solid var(--turquesa);
    
}
.card2{
   border-top:3px solid var(--vermelho);
}
.card3{
    border-top: 3px solid var(--laranja);
    
}
.card4{
    border-top: 3px solid var(--azul);
}
@media(min-width:551px){
    #texto{
        display: flex;
        flex-direction: column;
    }
    img{
        float: right;
    }
    #cartao{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "...  card2  ..."
        "card1 card2 card4"
        "card1 card3 card4"
        "...   card3  ...";
        gap: 1em;
    }
    img{
        padding-left: 0;
    }
    .card1{
        
        grid-area: card1;

    }
    .card2{
        grid-area: card2;
       
      
    }
    .card3{
        grid-area: card3;
    }
    .card4{
        grid-area: card4;
    }
    .titulo, .subtitulo{
        padding:0;
        text-align: center;
    }
} 